<div class="page-header">
  <h1>Course Correct</h1>
</div>

<div class="form-group">
  <input [(ngModel)]='filterText'
         placeholder="Search courses..."
         type="text"
         class="form-control" />
</div>

<div class="row">
  <!-- Searching -->
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>?</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: Use Filter -->
        <tr *ngFor='let course of courses' [title]="course.CourseId">
          <td>
            <input
              type="checkbox"
              (change)='updateSelected(course, $event)' />
          </td>
          <td>{{ course.Identifier }}: {{course.Title.String}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Selected Courses -->
  <div class="col-md-6" *ngIf='selectedCourses'>
    <table class="table">
      <thead>
        <tr>
          <th>Mandatory</th>
          <th>Name</th>
        </tr>
      </thead>

      <tbody [sortablejs]='selectedCourses'>
        <tr *ngFor='let course of selectedCourses'>
          <td><input type="checkbox" [(ngModel)]='course.Manditory' /></td>
          <td>{{ course.Identifier }}: {{course.Title.String}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Options</div>
  <div class="panel-body">
    <div>
        <!-- Start Time -->
        <div class='form-group col-md-2'>
          <label for='startTime' class='control-label'>Start Time</label>
          <input
            type='time'
            class='form-control'
            id='startTime'
            [(ngModel)]='startTime' />
        </div>

        <!-- End Time -->
        <div class='form-group col-md-2'>
          <label for='endTime' class='control-label'>End Time</label>
          <input
            type='time'
            class='form-control'
            id='endTime'
            [(ngModel)]='endTime' />
        </div>

        <div class='form-group col-md-4'>
          <label>Days Off</label>
          <!-- TODO: Remove this magic margin -->
          <div style='margin-top: 0.4em'>
            <round-button
              *ngFor='let weekday of weekdays'
              [name]='weekday.name'
              [(selected)]='weekday.active'></round-button>
          </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary pull-right"
        (click)='onSubmit()'>
          Calculate Combinations
      </button>
    </div>
  </div>
</div>

<div *ngIf='schedules'>
  <div class="page-header">
    <h2>Schedules</h2>
  </div>

  <!-- TODO: Show combinations here -->
  <div class="row">
    <div class='col-md-1'>
      <ul class='nav nav-pills nav-stacked'>
        <li
          *ngFor='let schedule of schedules; let i = index'
          [ngClass]="{'active': i == this.currentSchedule}">
          <a
            href='javascript: false'
            (click)='this.currentSchedule = i'
            style='text-align: center'>
              {{ i + 1 }}
          </a>
        </li>
      </ul>
    </div>

    <div class='col-md-11'>
      <table class="table">
        <thead>
          <tr>
            <th>Class ID</th>
            <th>Course</th>
            <th>Meeting Days</th>
            <th>Start Time</th>
            <th>End Time</th>
        </thead>
        <tbody *ngIf='schedules[currentSchedule]'>
          <tr *ngFor='let event of schedules[currentSchedule].Events'>
             <td>{{ event.Identifier }}</td>

             <td>{{ getCourse(event.Course, courses).Title.String}}</td>

            <td>{{ getCourse(event.MeetingDays) }}</td>
            <td>{{ getTime(event.RawStartTime.Int64) }}</td>
            <td>{{ event.RawEndTime.Int64 }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
