span {
	padding: 0.5em;
	border-radius: 1em;
	border: 1px solid #ccc;

	background: white;
	color: black;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

input[type=checkbox]:checked + span {
  background: #337ab7;
  color: white;
}

input[type=checkbox] {
	display: none;
}

